.wrapper {
  width: 100%;
}

.menu {
  border-radius: 12px;
  border: 1px solid var(--border-secondary-alt);
  background: var(--bg-primary, white);
  overflow: clip;

  box-shadow: var(--shadow-lg);
}

.menuList {
  list-style: none;
  margin: 0;
  padding: 6px 0;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.menuItem {
  --menu-item-hover-bg: var(--bg-primary_hover, #fafafa);

  display: flex;
  padding: 0 6px;
  align-items: center;
  cursor: pointer;
}

.menuItemContent {
  display: flex;
  flex: 1;
  padding: 8px;
  align-items: center;
  border-radius: 6px;
  gap: 8px;
  overflow: clip;
}

.menuItem:hover .menuItemContent {
  background: var(--menu-item-hover-bg);
}

.menuItemIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.menuItemLabel {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
