.emptyState {
  margin-top: 24px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding-left: 45px;
  gap: 8px;

  text-align: center;
}

.emptyImage {
  width: 176px;
  height: 146px;
}

.emptyImageWrapper {
  padding: 26.8px 65.3px 26.6px 28.6px;
}

.appsList {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 16px;
}

.appItem {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--bg-secondary);
  max-width: 240px;
  flex: 1 0 0;
  min-width: 180px;
}

.appLogo {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  object-fit: cover;
  flex-shrink: 0;
}

.appInfo {
  display: flex;
  flex-direction: column;
  gap: 2px;
  overflow: hidden;
}

.appName {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.appUrl {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
