.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: var(--bg-primary);
}

.body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 430px;
  text-align: center;
}
