@use "../../styles/viewport.module.scss" as *;

.wrapper {
  display: none;
  min-width: 280px;
  background-color: var(--bg-primary);

  padding: 24px 16px;
  flex-direction: column;
  justify-content: space-between;
}

@media (min-width: $width_360) {
  .wrapper {
    display: flex;
  }
}

.icon {
  width: 20px;
  height: 20px;
  aspect-ratio: 1/1;
}
