.wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

.body {
  width: 411px;
  margin: 146px auto auto auto;
}

.description {
  margin-bottom: 16px;
}

.emailInfo {
  padding: 8px 12px;
  background: var(--bg-secondary);
  border-radius: 8px;
}

.eyeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}
