.row {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 8px 4px;
  width: 100%;
}

.chainInfo {
  display: flex;
  flex: 1;
  gap: 4px;
  align-items: center;
  min-width: 0;
}

.chainIcon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  border-radius: 9999px;
  overflow: hidden;

  svg,
  img {
    width: 100%;
    height: 100%;
  }
}

.successInline {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 9999px;
  background: var(--bg-success-secondary);
  flex-shrink: 0;
}

.loadingIcon {
  width: 16px;
  height: 16px;
  animation: spin 1s linear infinite;

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
