.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background: var(--bg-secondary);
  border-radius: 16px;
  padding: 16px;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.15s ease;

  &:hover {
    background: var(--bg-secondary_hover);

    .headerText {
      color: var(--text-tertiary_hover);
    }
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.headerTextContainer {
  display: flex;
  align-items: center;
  gap: 4px;
  flex: 1;
  min-width: 0;
}

.headerIcon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.headerText {
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  color: var(--text-tertiary);
  transition: color 0.15s ease;
}

.chevronIcon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  color: var(--text-tertiary);
}

.list {
  list-style: disc;
  margin: 0;
  padding: 0;
  margin-left: 21px;
}

.listItem {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  color: var(--text-tertiary);
}
